<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Explore Activities</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>Explore Activities</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('explore') }}">Explore</a></li>
        <li><a href="{{ url_for('host') }}">Host</a></li>
        {% if username %}
        <li><a href="{{ url_for('past') }}">Past Activities</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    <section id="explore-section">
      <h2>Available Activities</h2>
      {% if activities %}
        <div class="activity-list">
          {% for activity in activities %}
          <div class="activity-card">
            <img src="{{ activity.image_url or 'https://via.placeholder.com/150' }}" alt="Activity Image">
            <h3>{{ activity.event_type }}</h3>
            <p><strong>Description:</strong> {{ activity.description }}</p>
            <p><strong>Host:</strong> {{ activity.host }}</p>
            <p><strong>Timing:</strong> {{ activity.timing }}</p>
            <p><strong>Invitees:</strong> {{ activity.invitees }}</p>
            <form method="POST" action="{{ url_for('join_activity') }}">
              <input type="hidden" name="activity_id" value="{{ loop.index0 }}">
              <button type="submit" class="btn">Join Activity</button>
            </form>
          </div>
          {% endfor %}
        </div>
      {% else %}
        <p>No activities are available at the moment. Please check back later!</p>
      {% endif %}
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Weekend Planner. All Rights Reserved.</p>
  </footer>
</body>
</html>
 -->