<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Past Activities</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>Past Activities</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('explore') }}">Explore</a></li>
        <li><a href="{{ url_for('host') }}">Host</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="past-section">
      <h2>Your Past Activities</h2>
      {% if past_activities %}
      <ul>
        {% for activity in past_activities %}
        <li>
          <strong>{{ activity['activity']['event_type'] }}</strong> - {{ activity['activity']['description'] }} on {{ activity['activity']['timing'] }}
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No past activities found.</p>
      {% endif %}
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Weekend Planner. All Rights Reserved.</p>
  </footer>
</body>
</html>
 -->